@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Libre+Franklin:wght@100;200;400;500;600&display=swap');
*{
    font-family: 'Domine', serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
  }

.imgGrid{
    width: 80%;
    height: 240px;
    object-fit: cover;
    margin-top: 40px;
    
}

.gridTitle{
    font-size: 16px;
    margin-top: 5px;
    padding: 10px;
}